@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: anzo1;
  src: url(assets/file.woff2);
  text-transform: capitalize;
}
@font-face {
  font-family: anzo2;
  src: url(assets/file2.woff2);
}
@font-face {
  font-family: anzo3;
  src: url(assets/file3.woff2);
}
@font-face {
  font-family: anzo4;
  src: url(assets/file4.woff2);
}
@font-face {
  font-family: anzo5;
  src: url(assets/file5.woff2);
}
@font-face {
  font-family: anzo6;
  src: url(assets/madefor-text.var.original.woff2);
}
@font-face {
  font-family: real;
  src: url(assets/realfont.woff2);
}
@font-face {
  font-family: real2;
  src: url(assets/DMSans-Regular.ttf);
}
@font-face {
  font-family: pop;
  src: url(assets/Poppins-Regular.ttf);
}
@font-face {
  font-family: pop2;
  src: url(assets/Poppins-Medium.ttf);
}

* {
  cursor: none !important;
}

/* Slider container */
/* Slider container */
.slider {
  width: 100%;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
}

/* Slider track */
.slider-track {
  display: flex;
  align-items: center;
  will-change: transform;
  animation: none;
}

/* Each slide */
.slide {
  flex: 0 0 auto;
}

.slide img {
  width: 100%;
  height: auto;
  display: block;
  aspect-ratio: 3/3;
  object-fit: contain;
}

.vignette-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* Ensure it doesn't interfere with clicks */
  content: "";
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0) 70%,
    /* Transparent center */ rgba(0, 0, 0, 0.5) 100% /* Dark edges */
  );
}

.container {
  background: rgba(0, 0, 0, 0.5); /* Transparent overlay */
  background-blend-mode: multiply; /* Blend texture with the background */
}

.eng {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0) 10%,
    rgba(179, 25, 66, 1) 50%,
    rgba(255, 255, 255, 0) 90%
  );
}
.fr {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0) 10%,
    rgba(0, 72, 181, 1) 50%,
    rgba(255, 255, 255, 0) 90%
  );
}

.ur {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0) 10%,
    rgb(124, 8, 240) 50%,
    rgba(255, 255, 255, 0) 90%
  );
}

.in {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0) 10%,
    rgba(255, 92, 13, 1) 50%,
    rgba(255, 255, 255, 0) 90%
  );
}

.ta {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0) 10%,
    rgb(9, 158, 108) 50%,
    rgba(255, 255, 255, 0) 90%
  );
}

.gm {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0) 10%,
    rgba(199, 165, 21, 1) 50%,
    rgba(255, 255, 255, 0) 90%
  );
}

/* Ensure the slider elements take full height */
.slick-list {
  height: 100% !important;
}

.slick-track {
  height: 100% !important;
  display: flex !important; /* Ensure slides align properly */
}

.custom-slider .slick-slide {
  height: 80% !important;
  display: flex !important; /* Center content vertically */
  justify-content: start;
  align-items: start;
}

/* Reduce gap between dots */
.slick-thumb li {
  margin: 0 -2px !important; /* Adjust the gap between dots */
}

/* Default dot styling */
.slick-thumb li div {
  background-color: #9a9a9a; /* Default dot color */
  border-radius: 50%; /* Make the dots round */
  transition: all 0.4s ease; /* Smooth transition for hover/active effects */
}

/* Active dot styling */
.slick-thumb li.slick-active div {
  background-color: #00bfff; /* Active dot color */
  transform: scale(1.2); /* Slightly enlarge the active dot */
}

.custom-slider .slick-dots {
  background-color: rgba(0, 0, 0, 0.089);
  border-radius: 4vw;
  width: fit-content !important; /* Keep the width fit to content */
  position: absolute; /* Positioning to use transform */
  left: 50%; /* Move to the center horizontally */
  transform: translateX(-50%); /* Adjust position to perfectly center */
  bottom: 26px !important; /* Optional: Adjust the position from the bottom */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  list-style: none; /* Remove default list styles */
  text-align: center; /* Ensure child elements are centered in a block layout */
  display: flex;
  align-items: center;
  padding-inline: 0.3vw !important;
  height: 22px !important;
  justify-content: center;
}

@media screen and (min-width: 300px) and (max-width: 400px) {
  /* Add your styles here */
  .custom-slider .slick-dots {
    bottom: -34px !important;
  }
}
@media screen and (min-width: 400px) {
  /* Add your styles here */
  .custom-slider .slick-dots {
    bottom: -23px !important;
  }
}
@media screen and (min-width: 768px) {
  /* Add your styles here */
  .custom-slider .slick-dots {
    bottom: 13px !important;
  }
}

.cont {
  scroll-behavior: smooth;
}

.bgBtnGithub {
  background: rgb(244,244,244);
  background: linear-gradient(0deg, rgba(244,244,244,1) 0%, rgba(0,7,244,1) 100%);
}
.bgBtnDarkGithub {
  background: rgb(0,2,24);
  background: linear-gradient(0deg, rgba(0,2,24,1) 0%, rgba(0,6,167,1) 100%);
}

.bgBtnVercel {
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(0,120,0,1) 100%);
}
.bgBtnDarkVercel {
  background: rgb(1,15,0);
  background: linear-gradient(0deg, rgba(1,15,0,1) 0%, rgba(0,152,0,1) 100%);
}

